header{
    background-color: var(--primary);
    padding: 1rem 0;
    .barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.perfil{
    display: flex;
    flex-direction: column;
    .name-perfil{
        display: flex;
        align-items: center;
        gap:2rem;
        i{
            font-size: 5rem;
            color: var(--bg-app);
        }
        p{
            margin: 0;
        }
    }
    p{
        color: var(--text-main);
    }
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    a{
        color: var(--text-main);
    }
}